body {
  font-family: "Raleway", sans-serif;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hover-effect:hover {
  background-color: #5a6268;
  color: white;
}

.shadow-custom {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.justify-text {
  text-align: justify;
}

/* Estilo para el enlace al icono de GitHub */
a[href="https://github.com/enriqueojedao"] {
  color: inherit !important; /* Utiliza el color heredado del elemento padre */
  text-decoration: none; /* Eliminar cualquier decoración de texto */
}

